body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/3d-style-black-background-with-paper-layer_206725-669.jpg)
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f01b03;
    border-radius: 10px;
    font-size: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.w3-card-4 {
    width: 300px;
    
    border: 1px solid #5b5555fb;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: rgb(231, 231, 231); 
    
}


.w3-card-4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.w3-container {
    padding: 15px;
}

.w3-card-4:hover {
    transform: scale(1.05);
}  
.Arman {
    color: rgb(255, 255, 255);
    /*background-color: rgb(114, 107, 97);*/
    border-radius: 60%;
    max-width: auto;
    background-image: linear-gradient(to right, red , blue);
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(21, 0, 255, 0.197);
    color: white;
    text-align: center;
    border-radius: 7%;
}